:root {
    font-size: 62.5%;
    overflow: hidden;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

body {
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.music-player {
    background-color: #ffe0e5;
    width: 30%;
    padding: 25px 35px 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-radius: 10px;
}

.music-top {
    display: flex;
    justify-content: space-between;
}

.music-top div {
    background-color: #fff;
    color: #f53192;
    box-shadow: 0px 2px 10px 0 #ff0080b3;
    font-size: 1.8rem;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.music-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.music-about img {
    width: 200px;
    border-radius: 50%;
    border: 9px solid #fff;
    margin-bottom: 20px;
}

.music-about p {
    font-size: 2.2rem;
    font-weight: 600;
}

.music-about span {
    margin-top: -5px;
    font-size: 1.6rem;
}

#music-range {
    -webkit-appearance: none;
    border-radius: 20px;
    width: 100%;
    height: 8px;
    background-color: #f53192;
    outline: 0;
    margin-bottom: 10px;
}

#music-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    border: 5px solid #f53192;
}
.music-time{
    display: flex;
    justify-content: space-between;
}
.music-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.music-bottom div {
    background-color: #fff;
    color: #f53192;
    box-shadow: 0px 2px 10px 0 #ff0080b3;
    font-size: 1.8rem;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

#play-btn {
    background-color: #f53192;
    color: #fff;
    width: 80px;
    height: 80px;
    font-size: 2rem;
}